body {
  background-color: #1b262c;
  color: #fff;
}

img {
  width: 90%;
  margin: 5%;
}

h1 {
  font-size: 5rem;
  margin-bottom: 5rem;
  color: #c81912;
}

button {
  width: 20%;
}

.btn-danger {
  background-color: #9d0b0b;
}

.btn-danger:hover {
  background-color: #c81912;
}

.btn-danger:focus {
  background-color: #c81912;
}

.player {
  width: 50%;
  margin: 2rem 0 2rem;
}

.container-fluid {
  text-align: center;
  padding: 5% 12%;
}

.padding {
  padding: 0 7%;
}

@media (max-width:1200px){
  h1 {
    font-size: 4rem;
    margin-bottom: 4rem;
  }

  .container-fluid {
    padding: 10% 7%;
  }
}

@media(max-width: 850px){
  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .container-fluid {
    padding: 15% 7%;
  }
}

@media (max-width:767px){
  h1 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }

  img {
    width: 70%;
  }

  .player {
    margin: 1rem 0 2rem;
  }
}

@media(max-width:540px){
  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .player {
    width: 100px;
  }

}

