body {
  background-color: #1b262c;
  color: #fff;
}

img {
  width: 250px;
}

h1 {
  font-size: 5rem;
  margin-bottom: 5rem;
}

h2 {
  margin: 1rem 1rem 2rem;
}

.container-fluid {
  text-align: center;
  padding: 5% 12%;
}

.btn-lg {
  width: 200px;
}

@media (max-width:1200px){
  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  img {
    width: 150px;
  }
}

@media (max-width:720px){
  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .container-fluid {
    padding: 10% 7%;
  }
}

